chardet
Cython
cython_bbox
easydict
faiss-gpu
filterpy
flake8
future
gdown
h5py
imageio
isort==4.3.21
lap
lightgbm
loguru
matplotlib
motmetrics
ninja
numpy
onnx
onnxsim>=0.7.3
onnxscript>=0.7.2
onnxruntime==1.23.2
opencv-python
Pillow
prettytable
pycocotools
pyyaml
scikit-image
scikit-learn
scipy
six
tabulate
tb-nightly
tensorboard
termcolor
thop
threadpoolctl
torch>=1.7
torchvision>=0.10.0
tqdm
xgboost
yacs
yapf
